/*<editor-fold desc="General">*/
.root {
	/* Constants */
	-fx-base: #00214E;
	-text-fill-dark: black;
	-text-fill-bright: white;
	-standard-selected-color: derive(-fx-base, 85%);
	-red-color: #a83c44;
}

.root * {
	-fx-text-fill: -text-fill-dark;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.toggle-button {
	-fx-background-insets: 0;
}

.jfx-rippler {
	-jfx-rippler-fill: white;
}

.content-holder {
	-fx-background-color: white;
}

/*</editor-fold>*/

/*<editor-fold desc="Menu Bar">*/
#menu-bar {
	-fx-background-color: #00214E;
}

#menu-bar * {
	-fx-text-fill: -text-fill-bright;
}
/*</editor-fold>*/

/*<editor-fold desc="Style Section">*/
#style-section.toggle-button {
	-gray-background-color: #555555;
	-fx-background-color: -gray-background-color;
	-fx-text-fill: -text-fill-bright;
}

#style-section.toggle-button:hover {
	-fx-background-color: derive(-gray-background-color, 35%);
}

#style-section.toggle-button:selected {
	-fx-background-color: -standard-selected-color;
}
/*</editor-fold>*/

/*<editor-fold desc="PRG buttons (Footer)">*/
#prg-button.toggle-button {
	-fx-text-fill: -text-fill-bright;
}

#prg-button.toggle-button:hover {
	-fx-background-color: derive(-red-color, 35%);
}

#prg-button.toggle-button:selected {
	-fx-background-color: -red-color;
}
/*</editor-fold>*/

/*<editor-fold desc="JFX Sliders">*/
.jfx-slider {
	-jfx-default-thumb: #ff7043;
}

.jfx-slider .slider-value {
	-fx-stroke: TRANSPARENT;
	-fx-font-size: 1.2em;
	-fx-font-family: sans-serif;
}

.jfx-slider .animated-thumb {
    -fx-pref-width: 0px;
    -fx-pref-height: 0px;
}

/*
.jfx-slider .colored-track {
    -fx-background-color: TRANSPARENT;
}
*/

.jfx-slider:focused .thumb {
    -fx-background-color: #29b6f6;
    /* -fx-background-insets: -1; */
}

.jfx-slider:focused .colored-track {
	-fx-background-color: #29b6f6;
}

/* Minimum */
.jfx-slider:min:focused .thumb {
	-fx-background-color: #CCCCCC;
}

.jfx-slider:min:focused .colored-track {
	-fx-background-color: #CCCCCC;
}
/*</editor-fold>*/