/*<editor-fold desc="General">*/
.root {
	/* Constants */
	-fx-base: #00214E;
	-fx-font-family: "Segoe UI";
	-text-fill-dark: black;
	-text-fill-bright: white;
	-standard-hover-color: #042E68;
	-standard-selected-color: #033C81;
	-red-color: #a83c44;
}

.root * {
	-fx-text-fill: -text-fill-dark;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;

}

.toggle-button {
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}

.jfx-rippler {
	-jfx-rippler-fill: white;
}

.content-holder {
	-fx-background-color: white;
}

/*</editor-fold>*/

.jfx-text-field {
	-jfx-focus-color: -red-color;
}

.jfx-text-field .input-line {
	-fx-background-color: -red-color;
}

/*<editor-fold desc="Menu Bar">*/
#menu-bar {
	-fx-background-color: #00214E;
}

#menu-bar *{
	-fx-text-fill: -text-fill-bright;
}

#menu-bar .toggle-button {
	-fx-font-size: 2em;
	-fx-background-color: transparent;
}

#menu-bar .toggle-button:hover {
	-fx-background-color: -standard-hover-color;

}

#menu-bar .toggle-button:selected {
	-fx-background-color: -standard-selected-color;
	/*-fx-effect: dropshadow(gaussian, darkgray, 50, 0.0, 0, 0);*/
	-drop-shadow-color: derive(-fx-base, -10%);
	-fx-effect: dropshadow(gaussian, -drop-shadow-color, 5, 0.0, 0, 2);
}
/*</editor-fold>*/

/*<editor-fold desc="Style Section">*/
#style-section .toggle-button {
	-gray-background-color: #555555;
	-fx-background-color: -gray-background-color;
	-fx-text-fill: -text-fill-bright;
}

#style-section .toggle-button:hover {
	-fx-background-color: derive(-gray-background-color, 35%);
}

#style-section .toggle-button:selected {
	-fx-background-color: -standard-selected-color;
}
/*</editor-fold>*/

.jfx-toggle-button {
	-jfx-toggle-color: -red-color;
}

.jfx-toggle-button .jfx-rippler {
	-jfx-rippler-fill: -red-color;
}

/*.jfx-toggle-button:selected {
	-fx-background-radius: 5px;
	-fx-background-color: derive(-fx-base, 85%);
}*/

.autocomplete-list {
	-fx-fixed-cell-size: 30px;
	-fx-pref-height: 30px;
}

.jfx-combo-box {
	-fx-prompt-text-fill: #6e6e6e;
	-jfx-focus-color: -red-color; /*prompt text*/
}

.jfx-combo-box .input-line, .jfx-combo-box .input-focused-line {
	-fx-background-color: -red-color;
}

.jfx-combo-box .list-view .scroll-bar > .thumb {
	-fx-background-color: -red-color;
}
.jfx-combo-box .list-view .scroll-bar > .track-background {
	-fx-background-color: -fx-base;
}

/*.jfx-combo-box .list-view {
	-fx-background-color: transparent;
	-fx-border-color: -fx-base;
	-fx-border-width: 3px;
	-fx-border-style: solid inside;
}*/

.jfx-combo-box .arrow-button {
	-fx-background-color: derive(-red-color, 50%);
}

.jfx-combo-box .list-view{
	-fx-background-color: -red-color;
}

.jfx-combo-box .jfx-list-cell {
	-fx-background-color: white;
	-fx-text-fill: -text-fill-dark;
	-fx-background-insets: -10px; /* so that there is no gap between adjacent cells */
}

.jfx-combo-box .jfx-list-cell:hover{
	-fx-background-color: derive(-red-color, 35%);
	-fx-text-fill: white;
}

.jfx-combo-box .jfx-list-cell:selected {
	-fx-background-color: -red-color;
	-fx-text-fill: white;
}

/*<editor-fold desc="PRG buttons (Footer)">*/
#prg-button .toggle-button {
	-fx-text-fill: -text-fill-bright;
}

#prg-button .toggle-button:hover {
	-fx-background-color: derive(-red-color, 35%);
}

#prg-button .toggle-button:selected {
	-fx-background-color: -red-color;
}
/*</editor-fold>*/

/*<editor-fold desc="JFX Sliders">*/
.jfx-slider {
	/*-jfx-default-thumb: #ff7043;*/
	-jfx-default-thumb: -red-color;
}

.jfx-slider:focused {
	-jfx-default-thumb: -fx-base;
}

.jfx-slider > .animated-thumb {
	-fx-pref-width: 0px;
	-fx-pref-height: 0px;
}

.jfx-slider .slider-value {
	-fx-stroke: transparent;
	-fx-fill: transparent;
}

/*</editor-fold>*/